<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/sign-up.css" />
  <title>Document</title>
</head>
<body>
  <div class="form2-container">
    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
      <label>Username:</label>
      <input type="text" name="username" />
      <br />
      <label>Password:</label>
      <input type="password" name="password" />
      <br />
      <label>Confirm Password:</label>
      <input type="password" name="confirmPassword" />
      <br />
      <label>Upload photo:</label>
      <input type="file" name="photo" accept="image/*" /><br /><br />

      <div id="photoPreview" class="photo-preview"></div>

      <button type="submit">Sign up</button>
    </form>
  </div>
</body>
</html>

