<link rel="stylesheet" href="/stylesheets/style1.css" />
<body>
  <div class="sign-up">
  <h1>Create a new account</h1>
<form action="/auth/sign-up" method="post" enctype="multipart/form-data">
<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password" name="password">
<br>
<label>Confirm Password:</label>
<input type="password" name="confirmPassword">
<br>
<label>Upload photo:</label>
<input type="file" name="photo" accept="image/*" /><br><br>

<div id="photoPreview" class="photo-preview">
  <!-- Image preview will appear here after uploading -->
</div>

<button type="submit">Sign up</button>
  </form>
  </div>
</body>