<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="../stylesheets/5.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 

    <div class="edit-page">
      <div class="form-container">
        <h2>Edit Profile</h2>
        <form action="/profile" method="POST" enctype="multipart/form-data">
          <label>
            Username:
            <input
              type="text"
              name="username"
              value="<%= user.username %>"
              required
            />
          </label>
          <br />

          <label>
            New Password:
            <input type="password" name="password" />
          </label>
          <br />

          <label>Confirm Password:</label>
          <input type="password" name="confirmPassword" />
          <br />

          <label>
            Profile Picture:
            <input type="file" name="photo" />
          </label>
          <br />

          <button type="submit">Save Changes</button>
        </form>
      </div>

      <p><a href="/profile">Back to Profile</a></p>
    </div>
  </body>
</html>

