<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="index2page">

  <ul>
    <% books.forEach((book) => { %>
    <li>
      <a href="/books/<%= book._id %>"> <%= book.title %></a>
    </li>
    <% }) %>
  </ul>
  </div>
</body>
