<link rel="stylesheet" href="/stylesheets/6.css" />

<body>
  <%- include('../partials/_navbar.ejs') %> <!-- Include Navbar -->

  <h1>All Books</h1>

  <!-- Search Form -->
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search..." required />
    <button type="submit">Search</button>
  </form>

  <div class="index2page">
    <!-- Books Container -->
    <% books.forEach((book) => { %>
      <div class="book">
        <a href="/books/<%= book._id %>">
          <img src="/<%= book.photo %>" alt="Book Photo">
        </a>
      </div>
    <% }) %>
  </div>
</body>

