<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <title>Document</title>
  </head>
  <body>
<<<<<<< HEAD
    <div class="index1page">

  <h1>Bahrain library</h1>
  <%- include('./partials/_navbar.ejs') %>
    </div>
=======
    <%- include('./partials/_navbar.ejs') %>
  <h1>welcom to bahrain library</h1>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">login</a>.
>>>>>>> eb4713528693261307e8eac80093b577d7695e6a
  </body>
</html>
