<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="index1page">

  <h1>Bahrain library</h1>
  <%- include('./partials/_navbar.ejs') %>
    </div>
  </body>
</html>
