
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('./122334.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    font-size: 1.2em;
  }
  
  textarea, input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.6); 
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7); 
    border-color: rgba(255, 255, 255, 0.8); 
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  