
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    height: 100vh;
    background: url('./122334.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .form2-container {
    background: rgba(64, 61, 61, 0.7); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
  }
  
 
  h1 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; 
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f1eded;
  }
  
  /* Label Styling */
  label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #f8f5f5;
    display: block;
  }
  
  /* Input Fields */
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f7f7f7;
    margin-bottom: 15px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
    background: #fff;
  }
  
  input[type="file"] {
    padding: 10px;
    background-color: #f7f7f7;
  }
  
 
  #photoPreview img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* Submit Button Styling */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    background-color: #790679;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #844384;
  }
  

  
  