@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

body {
    display: flex;                      /* Enable Flexbox */
    justify-content: center;            /* Center content horizontally */
    align-items: center;                /* Center content vertically */
    height: 100vh;                      /* Make sure body takes the full height of the viewport */
    margin: 0;                          /* Remove default margin */
    font-family: Arial, sans-serif;     /* Set a clean font */
}

/* Styling for the form container */
.form-container {
    background-color: white;            /* White background for the form */
    padding: 20px 30px;                 /* Add padding inside the form */
    border-radius: 8px;                 /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  /* Add subtle shadow */
    display: flex;                      /* Use flexbox inside the form */
    flex-direction: column;             /* Stack elements vertically */
    gap: 15px;                          /* Space between form elements */
    max-width: 400px;                   /* Max width of the form */
    width: 100%;                        /* Make sure the form takes up full width within max-width */
    text-align: center;                 /* Center text in the form */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #8c60c2;
    border-radius: 4px;
    font-size: 16px;
}

input[type="file"] {
    font-size: 14px;
    cursor: pointer;
}

/* Button styling */
button {
    padding: 10px;
    background-color: #3d97cf;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

a {
    text-align: center;
    text-decoration: none;
    color: #007BFF;   /* Link color */
    font-size: 14px;
    margin-top: 10px;
    display: block;    /* Ensure it's on its own line */
}

a:hover {
    text-decoration: underline; 
}
/* Styling the photo preview container */
#photoPreview {
    text-align: center;
}

/* Make the uploaded image round */
.uploaded-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid #ccc;
}

